* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

button {
    width: 4rem;
    height: 2rem;
    margin: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

ul a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    background-color: green;
    padding: 0.5rem;
    width: 15rem;
}